#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  /* Reset text align */
  overflow-x: hidden;
  /* Ensure no horizontal scroll */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}